@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&family=Work+Sans:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.55rem;
    --background: 0 0% 100%;
    --foreground: 207 25% 20%;
    --card: 0 0% 100%;
    --card-foreground: 207 25% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 207 25% 20%;
    --primary: 207 87% 35%;
    --primary-foreground: 0 0% 100%;
    --primary-dark: 207 77% 19%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 207 25% 20%;
    --muted: 0 0% 96%;
    --muted-foreground: 207 25% 45%;
    --accent: 42 54% 51%;
    --accent-foreground: 0 0% 100%;
    --accent-light: 42 87% 72%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 92%;
    --input: 0 0% 92%;
    --ring: 207 87% 35%;
    --chart-1: 41.1 71.2% 54.4%;
    --chart-2: 184.7 32.4% 48.6%;
    --chart-3: 227.4 15.2% 33.3%;
    --chart-4: 84.4 74.8% 75.7%;
    --chart-5: 70.1 74.3% 70.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4 md:px-6 lg:px-8 max-w-7xl w-full;
  }
}
